---
import PageLayout from '~/layouts/PageLayout.astro'

const metadata = {
  title: 'Coming Soon',
}
---

<PageLayout metadata={metadata}>
  <div class="flex flex-col h-[calc(100vh-64px)] bg-center bg-cover bg-no-repeat">
    <div class="grid place-items-center w-4/5 mx-auto p-10 my-20 sm:my-auto space-y-5 text-center">
      <h1 class="text-6xl font-bold uppercase transition duration-500">Coming Soon</h1>
    </div>
  </div>
</PageLayout>
