---
import Layout from '~/layouts/LandingLayout.astro'

import Hero from '~/components/widgets/Hero.astro'
import CallToAction from '~/components/widgets/CallToAction.astro'

const metadata = {
  title: 'Coming Soon',
}
---

<Layout metadata={metadata}>
  <!-- <Hero title='Coming Soon' /> -->
  <!-- <div class='inline-block'>
    <h1 class='text-6xl text-center'>Coming soon</h1>
  </div> -->
  <div class='flex flex-col h-[calc(100vh-64px)] bg-center bg-cover bg-no-repeat'>
    <div class='grid place-items-center w-4/5 mx-auto p-10 my-20 sm:my-auto space-y-5 text-center'>
      <h1 class='text-6xl font-bold uppercase transition duration-500'>Coming Soon</h1>
    </div>
  </div>
</Layout>

<!-- <CallToAction
    title='Coming soon'
    subtitle='We are working on the content of these demo pages. You will see them very soon. Stay tuned Stay tuned!'
    actions={[
      {
        variant: 'primary',
        text: 'Download Template',
        href: 'https://github.com/onwidget/astrowind',
        icon: 'tabler:download',
      },
    ]}
  /> -->
